#textinho{
    font-family: Arial, Helvetica, sans-serif;
    position: relative;
    left: 21cm;
    top: 1cm;
}
#formulario{
    position: relative;
    left: 20.7cm;
    top: 9cm;
}
#numero{
    position: relative;
    height: 1cm;
    width: 8cm;
    border-radius: 1cm;
    border-style: ridge;
    text-align: center;
}
#mandar{
    position: relative;
    top: 0.5cm;
    left: 2.8cm;
    height: 1.15cm;
    width: 2.5cm;
    border-radius: 1cm;
    border-style: ridge;
    background-color: white;
}
#bg{
    background-color: rgb(171, 185, 189);
}
#linha{
    position: relative;
    top: 16.5cm;
    border-color: black;
    width: 25cm;
}
#h1novoea{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1cm;
    position: fixed;
    left: 18.2cm;
    top: 15cm;
}
#h1novoeb{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1cm;
    position: fixed;
    left: 18.2cm;
    top: 15cm;
}
#xnovo{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 3.5cm;
    position: fixed;
    left: 23.7cm;
    top: 3cm;
}